@import url('https://fonts.google.com/specimen/Outfit');


/* Colors */

:root {
	--primary-white: hsl(0, 0%, 100%);
	--primary-slate: hsl(212, 45%, 89%);
	--secondary-slate: hsl(216, 15%, 48%);
	--tertiary-slate: hsl(218, 44%, 22%);
}



* {	
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	background-color: var(--primary-slate);
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
	display: flex;
	justify-content: center; /* center horizontally */
	align-items: center; /* center vertically */
	height: 100%;	
}

.main-view {
	width: 260px;
	height: 400px;
	background-color: var(--primary-white);
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px;
}

.image-container {
	width: 100%;
	height: 60%;
	margin-bottom: 20px;
	padding: 0 15px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.text {
	width: 100%;
	padding: 0 15px;
	color: var(--secondary-slate);
}

.text h1 {
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	color: var(--tertiary-slate);
	margin: 0 15px;
}

.text p {
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin: 15px 15px;
}

.attribution { 
	display: flex;
	align-items: flex-end;
	font-size: 11px; 
	margin: 0 20px;
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}


@media (min-width: 375px) {
	body {
		font-size: 15px;
	}

	.attribution {
		display: flex;
		justify-content: center;
		padding-top: 40px;
	}

}


@media (max-width: 1440px) {
	.attribution {
		display: flex;
		justify-content: flex-start;
	}
}







